// Override bootstrap sass variables in this file
$brand-primary:                 darken(#428bca, 6.5%);
$brand-success:                 #5cb85c;
$brand-info:                    #5bc0de;
$brand-warning:                 #f0ad4e;
$brand-danger:                  #d9534f;
$brand-inverse:                 #222222;

$state-success-text:             #3c763d;
$state-success-bg:               #dff0d8;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text:                #31708f;
$state-info-bg:                  #d9edf7;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-text:             #b58f4d;
$state-warning-bg:               #fcf8e3;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%);

$state-danger-text:              #a94442;
$state-danger-bg:                #f2dede;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%);

$state-default-text:              #777777;
$state-default-bg:                #ffffff;
$state-default-border:            darken(adjust-hue($state-danger-bg, -10), 5%);

$breadcrumb-bg:                 #ffffff;

$text-muted:                    #aaaaaa;