// Define your main sass variables here

$main-color: #797979;
$main-background-color: #f1f2f7;
$main-font: 'Open Sans';
$sidebar-background-color: #2a3542;
$sidebar-open-background-color: #35404d;
$sidebar-menu-font-color: #aeb2b7;
$sidebar-menu-active-font-color: #ffffff;
$sidebar-menu-hover-font-color: #ffde17;
$sidebar-menu-group-title-font-color: #99850d;
$top-navbar-height: 60px;
$light-yellow: #fff9e9;
$dark-gray: #263238;
$light-gray: $well-bg;